* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  height: 100vh;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/3682580.jpg);
  background-position: center;
  background-size: cover;
}
.start {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-color: tomato; */
  display: flex;
  transition: 1s;
}
.start > div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.536);
  /* border: 1px solid red; */
}
.start > div > label {
  padding: 7px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  white-space: nowrap;
}
.start > div > input {
  margin: 7px;
  height: 40px;
  width: 60%;
  padding: 5px 15px;
  line-height: 40px;
  background-color: rgb(255, 226, 221);
  outline: none;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(104, 21, 6);
  font-weight: bold;
  text-align: center;
}
.start > div > input::placeholder {
  font-weight: normal;
}
.start-click {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  padding: 15px 45px;
  font-size: 22px;
  border: none;
  background-color: rgb(255, 243, 189);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: rgb(9, 9, 70);
  transition: 0.4s;
}
.start-click:hover {
  background-color: rgb(245, 224, 119);
}
.play {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.651);
  transition: 1s;
  transition-delay: 1s;
  display: flex;
}
#first-player,
#second-player {
  position: absolute;
  top: 0;
  transition: 0.4s;
  border-right: 1px solid blanchedalmond;
}
.play > div {
  width: 100%;
  height: 100%;
}
.play > div > h2 {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}
.wrapper {
  height: 85%;
}
.game {
  height: 80%;
  padding: 30px;
}
.equal {
  height: 20%;
  background-color: rgba(255, 166, 0, 0.74);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.equal > h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(41, 41, 82);
}
.equal > h3 {
  color: white;
  font-size: 40px;
  transition-delay: 2s;
}

.rubic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.parent-rubic {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  /* background-color: white; */
  animation-fill-mode: forwards;
  animation-duration: 2s;
  /* animation-play-state: paused; */
  animation-timing-function: cubic-bezier(0.07, 1.12, 0.67, 0.77);
}
.parent-rubic > span {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: radial-gradient(gray, rgb(54, 53, 53));
  color: orange;
  font-size: 60px;
}
.players {
  position: relative;
  overflow: hidden;
}
#first-player-deactive,
#second-player-deactive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.77);
  left: 0;
  z-index: 200;
  transition: 0.4s;
  transform: translateZ(100px);
}

#winner-two,
#winner-one {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: orange;
  box-shadow: 0px 0px 15px rgb(194, 126, 0);
  z-index: 300;
  top: -100%;
  left: 0;
}
#winner-two > h2,
#winner-one > h2 {
  width: 100%;
  padding: 15px 30px;
  font-size: 60px;
  color: rgb(41, 41, 95);
  font-weight: bold;
  text-align: center;
}
#winner-two > button,
#winner-one > button {
  width: 70%;
  height: 80px;
  background-color: rgb(41, 41, 95);
  color: orange;
  border: 5px solid rgb(133, 102, 46);
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}
.active {
  top: 0 !important;
}
